<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        .btn-round {
             border-radius: 30px; 
            } 
        .bg-roxo { 
            background: #240054; 
        } 
    a{
        text-decoration: none;
    }
        
    </style>
    {% load static %}
    <link rel="icon" href="{% static 'img/logo.jpg' %}" type="image/icon type">
</head>
<body>
    <div class="d-md-flex h-md-100  bg-roxo align-items-center">
        <div class="col-md-6 p-0 " style="height:100vh;"> 
            <div class="text-white d-flex flex-column align-items-center h-100 p-5 text-center justify-content-center ">  
                {% load static %}
                <img src="{% static 'img/logo.jpg' %}" class="img-fluid" alt="">
            </div> 
        </div>
        <div class="col-md-6 p-0 bg-white h-md-100 loginarea">
            <div class="px-5 m-5 h-md-100 p-5">
                <h3 class="">Faça seu cadastro</h3>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <form action="" method="post" class="row g-3 m-2">
                    {% csrf_token %}
                    <div class="col-md-12">
                        <label for="" class="form-label my-2" ><span><i class="bi bi-person my-2"></i></span> Nome de usuário</label>
                        <input autocomplete="off" type="text" name="username" class="form-control my-2" placeholder="Insira o seu nome de usuário">
                    </div>
                    <div class="col-md-12">
                        <label for="" class="form-label my-2"><span class=""><i class="bi bi-envelope my-2"></i></span> E-mail</label>
                        <input autocomplete="off" type="email" name="email" class="form-control" placeholder="Insira seu email">
                    </div>
                    <div class="col-md-12">
                        <label for="" class="form-label my-2"><span class=""><i class="bi bi-key-fill my-2"></i></span> Senha</label>
                        <input autocomplete="off" type="password" name="password1" class="form-control" placeholder="Insira seu email">
                    </div>
                    
                    <div class="col-md-12">
                        <label for="" class="form-label my-2"><span class=""><i class="bi bi-key-fill my-2"></i></span> confirmar sua senha</label>
                        <input autocomplete="off" type="password" name="password2" class="form-control" placeholder="Insira seu email">
                    </div>  
                        <div class="col-md-12 m-1 my-4">
                            <input class="btn btn-round btn-dark" value="cadastrar" type="submit">
                        </div>
                    </form>
                        <a href="{% url 'login' %}" id="" class="">já possui uma conta?clique aqui</a>
                        <div class="d-flex justify-content-center mt-5 py-5">
                            <a href=""><i class="bi bi-instagram mx-4" style="font-size: 1.5rem; color:#240054"></i></a>
                            <a href=""><i class="bi bi-facebook" style="font-size:1.5rem; color: #240054;"></i></a>
                        </div>
            </div>
         </div> 
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script>
            document.getElementById('openModalLink').addEventListener('click', function() {
    $('#exampleModal').modal('show');
  });
        </script>
    </body>
</html>